* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 5rem;
}

.container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
